<style type="text/css">
   * {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box
   }
     .logo{
          width: 100%;
          height: 100%;
          position: relative;
          left: 0%;
          top: ;
     }
     .menu{
       width: 45%;
       position: absolute;
       object-fit:absolute;
       left: 45%;
       top: 5%;
       height: ;
      }
     .logo_img{
      object-fit: absolute;
      top: 5%;
      width: 30%;
      height: 100%;
     }
      header{
      width: 100%;
      text-align: center;
     }
    .main_contents{
      height: 1200px;
    }
     .tab{
       display: inline-inline-block;
       border-width: 1px 1px 0px 1px;
       border-style: outset;
       border-color: #ffcb8a;
       border-radius: 0.75em 0.75em 0px 0px;
       padding: 0.75em 1em;
       font-weight: bold;
       color:orange;
       background-color: #ffff00;
          }
     .tab:hoever{
       color: pink;
       background-color: #ffb6c1;
       cursor: pointer;
     }
     input:checked + .tab{
       color: red;
       background-color: #ffdead;
     }
    .tabbox input {display: none;}
    .tabcontent{
      display: none;
      border: none;
      padding:1em;
      background-color: #fffea5;
    }
    #tabcheck1:checked~#tabcontent1{display: block;}
    #tabcheck2:checked~#tabcontent2{display: block;}
    input:checked + .tab{
      z-index: 10;
      position: relative;
    }
    .tabcontent{
      margin-top: -1px;
      z-index: 0;
      position: relative;
    }
    #contents1{
      width: 600px;
      height: 400px;
      float: left;
    }
    #contents2{
      width: 650px;
      height: 400px;
      float: right;
    }
    #contents3{
      width: 600px;
      height: 400px;
      float: left;
    }
    #contents4{
      width: 650px;
      height: 400px;
      float: right;
    }
    body{
      background-color: #FFFEA5;
      object-fit: cover;
      height: 1200px;
      width: 100%;
      padding: auto;
      margin: auto;
       }
   .footer{
        width: 100%;
        float: left;
        background-color:#f8e597;
        position: relative;
        object-fit: cover;
        top: 30%;
        }
 </style>
