* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
body{
  padding: auto;
  margin: auto;
}

text_main.{
height: 1200px;
width: 1349px;
}

.logo{
     width: 100%;
     height: 100%;
     position: relative;
     left: 0%;
     top: ;
}

.menu{
  width: 45%;
  position: absolute;
  object-fit:absolute;
  left: 45%;
  top: 5%;
  height: ;
 }

.logo_img{
 object-fit: absolute;
 top: 5%;
 width: 30%;
 height: 100%;
}

 header{
 width: 100%;
 text-align: center;
}

    /*=== 画像の表示エリア ================================= */
  .slide {
   position   : relative;
   overflow   : hidden;
                 /* 画像のサイズに合わせて変更ください */
   width      : 1000px;
   height     : 400px;
   margin     : auto;      /* サンプルは中央寄せの背景：白 */
   background : #fffea5;
  }
  /*=== 画像の設定 ======================================= */
  .slide img {
   display    : block;
   position   : absolute;
                     /* 画像のサイズを表示エリアに合せる */
   width      : inherit;
   height     : inherit;
   left       : -100%;
   animation  : slideAnime 25s ease infinite;
  }
  /*=== スライドのアニメーションを段差で開始する ========= */
  .slide img:nth-of-type(1) { animation-delay: 0s }
  .slide img:nth-of-type(2) { animation-delay: 5s }
  .slide img:nth-of-type(3) { animation-delay: 10s }
  .slide img:nth-of-type(4) { animation-delay: 15s }
  .slide img:nth-of-type(5) { animation-delay: 20s }

 /*=== スライドのアニメーション ========================= */
  @keyframes slideAnime{
    0% { left: -100% }
    1% { left: 0     }
   20% { left: 0     }
   30% { left: 100%  }
   100% { left: 100%  }
  }
  h3{
    color: #FF0000;
  }
  .maps{
    float: right;
  }
  body{
    background-color: #FFFEA5;
    margin-top: 0%;
    margin-left: 0%;
   }
  .footer{
         bottom: 0px;
         background-color:#f8e597;
         position: relative;
         object-fit: cover;
       }
