* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box
}

body{
  height: 700px;
  width: 100%;
  background-color: #fffea5;
  text-align: center;
  padding: auto;
  margin: auto;
  object-fit: cover;
}

/*=== ヘッター ================================= */
     .logo{
          width: 100%;
          height: 100%;
          position: relative;
          left: 0%;
          top: ;
     }

     .menu{
         width: 45%;
         position: absolute;
         object-fit:absolute;
         left: 45%;
         top: 5%;
         height: ;
      }

    .logo_img{
         object-fit: absolute;
         top: 5%;
         width: 30%;
         height: 100%;
    }

    .ヘッダー{
      width: 100%;
    }

/*=== owner ================================= */
 .ownertop{
     height: 60%;
     width: 80%;
     background-color: white;
     text-align: center;
     padding: auto;
     margin: auto;
}

 .profile{
  background-color: #97793d;
  width: 15%;
  height: 100%;
  float: left;
}

.com{
  background-color: white;
  width: 55%;
  height: 19%;
  float: ;
  text-align: left;
  font-size: 10px;
}

.cover {
  object-fit: cover;
  width: 40%;
  height:65%;
  float: ;
}

 .car{
  background-color: white;
  width: 45%;
  height: 100%;
  float: right;
  line-height: 2.0em;
  text-align: left;
}

/*=== shop ================================= */
.top{
  height: 60%;
  width: 80%;
  background-color: white;
  text-align: center;
  padding: auto;
  margin: auto;
  position: relative;
}

.top2{
  height: 80%;
  width: 75%;
  position: absolute;
  left:50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);

}

.top3{
  text-align: left;
  position: relative;
}

.購入{
  position: absolute;
  left: 90%;
  top: 10%;
}

.商品{
  height: 70%;
  width: 15%;
  background-color: white;
  text-align: center;
  display: inline-block;
  color: black;
  object-fit: cover;
  line-height: 0.3em;
  border: solid 1px #2f4f4f;
}

.button{
  border: solid 2px #2f4f4f;
}

.写真{
  object-fit: cover;
  width: 100%;
}

/*=== 決済ページ ================================= */
.決済ページ{
  height: 70%;
  width: 30%;
  background-color: white;
  text-align: right;
  position: relative;
  top:;
  left: 8%;
  float: left;
  line-height: 0.5em;
}

.決済ページ入力欄 {
  height: 70%;
  width: 40%;
  background-color: white;
  text-align: left;
  position: relative;
  bottom:;
  right: 20%;
  float: right;
  object-fit: cover;
}

.入力{
  width: 100%;
  object-fit: cover;
}

.注文確定{
  position: relative;
  top: 70%;
  left: 20%;
  object-fit: cover;
  float: left;

}


/*=== 注文完了ページ ================================= */
.注文完了ページ{
  text-align: center;
  height: 80%;
  width: 90%;
  background-color: white;
  display: inline-block;
  object-fit: cover;
  line-height: 1em;
  padding: ;
  margin: ;
  border: ;
  position: relative;
}

.完了メッセージ{
  background-color:;
  font-size: 20px;
  position: relative;
}

.配送予定日{
  text-align: center;
  font-size: 15px;
}


/*=== フッター ================================= */

      .footer{
             width: 100%;
             text-align: left;
             background-color: #f8e597;
             position: relative;
             bottom: 0%;
             left:;
             object-fit: cover;
           }
